<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/adminPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid m-0 p-0 d-flex">
        <div class="sidebar" id="side_nav">
            <div class="d-flex justify-content-between align-items-center px-3 pt-3 pb-3 mb-lg-3 mb-2">
                <h4 class="fs-4 p-0 m-0"><span class="text-white fw-bold">CSI - Platform</span></h4>
                <button class="btn close-btn d-lg-none d-block px-1 py-0 text-white">
                    <i class="bi bi-text-left fs-4 fw-bold text-white"></i>
                </button>
            </div>
            <ul class="list-unstyled px-2 position-sticky top-10px">
                <li class="mb-2" id="userLi">
                    <a asp-action="User" asp-controller="AdminApproveDecline" asp-area="Admin" class="open-loader text-decoration-none d-flex align-items-center px-3 py-2 d-block">
                        <i class="bi bi-person-fill fs-5 me-2"></i>User
                    </a>
                </li>
                <li class="mb-2" id="cmsLi">
                    <a asp-action="Index" asp-controller="CMSPage" asp-area="Admin" class="open-loader text-decoration-none d-flex align-items-center px-3 py-2 d-block">
                        <i class="bi bi-file-earmark-text fs-5 me-2"></i>CMS Page
                    </a>
                </li>
                <li class="mb-2" id="missionLi">
                    <a asp-action="Index" asp-controller="AMission" asp-area="Admin" class="open-loader text-decoration-none d-flex align-items-center px-3 py-2 d-block">
                        <i class="bi bi-bullseye fs-5 me-2"></i>Mission
                    </a>
                </li>
                <li class="mb-2" id="mThemeLi">
                    <a asp-action="Index" asp-controller="MissionTheme" asp-area="Admin" class="open-loader text-decoration-none d-flex align-items-center px-3 py-2 d-block">
                        <i class="bi bi-layout-wtf fs-5 me-2"></i>Mission Theme
                    </a>
                </li>
                <li class="mb-2" id="mSkillLi">
                    <a asp-action="Index" asp-controller="MissionSkills" asp-area="Admin" class="open-loader text-decoration-none d-flex align-items-center px-3 py-2 d-block">
                        <i class="bi bi-tools fs-5 me-2"></i>Mission Skills
                    </a>
                </li>
                <li class="mb-2" id="mApplicationLi">
                    <a asp-action="MissionApplication" asp-controller="AdminApproveDecline" asp-area="Admin" class="open-loader text-decoration-none d-flex align-items-center px-3 py-2 d-block">
                        <i class="bi bi-folder-fill fs-5 me-2"></i>Mission Application
                    </a>
                </li>
                <li class="mb-2" id="storyLi">
                    <a asp-action="Story" asp-controller="AdminApproveDecline" asp-area="Admin" class="open-loader text-decoration-none d-flex align-items-center px-3 py-2 d-block">
                        <i class="bi bi-journal-medical fs-5 me-2"></i>Story
                    </a>
                </li>
                <li class="mb-2" id="bannerLi">
                    <a asp-action="Index" asp-controller="BannerManagement" asp-area="Admin" class="open-loader text-decoration-none d-flex align-items-center px-3 py-2 d-block">
                        <i class="bi bi-map-fill fs-5 me-2"></i>Banner Management
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <nav class="navbar">
                <div class="d-flex justify-content-between align-items-center fs-7 w-100 px-3 py-2">
                    <div class="fs-7 d-flex align-items-center">
                        <button class="btn open-btn d-lg-none d-block px-1 py-0 text-white">
                            <i class="bi bi-text-left fs-4 fw-bold text-dark"></i>
                        </button>
                        <div id="dateTime" class="me-2"></div>
                    </div>
                    @{
                        var identity = User.Identity as ClaimsIdentity;
                        var name = identity?.FindFirst(ClaimTypes.Name)?.Value;
                        var surname = identity?.FindFirst(ClaimTypes.Surname)?.Value;
                        var email = identity?.FindFirst(ClaimTypes.Email)?.Value;
                    }
                    <div class="dropdown drop-avatar avatar-hover px-1 px-sm-3 py-1 d-flex align-items-center">
                        <div class="dropdown-toggle d-inline-flex align-items-center" role="button"
                             data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="avtar-nav">
                                <img src="~/images/profile.png" />
                            </div>
                            <span class="px-2 text-secondary d-none d-sm-block">@name @surname</span>
                            <img class="d-none d-sm-block" src="~/images/drop-down.png" />
                        </div>
                        <ul class="dropdown-menu dropdown-menu-end w-100">
                            <li>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Admin"
                                   asp-action="UpdateProfile" asp-route-email="@email">Update Profile</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Admin"
                                   asp-action="Index">Admin</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" asp-area="Volunteer" asp-controller="Login" asp-action="Logout">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="admin-body" class="position-relative py-3 px-4">
                <div class="bg-white z-infi w-100 h-100 d-flex justify-content-center align-items-center position-absolute top-0 start-0" id="admin-loader">
                    <img src="~/images/admin_loader.gif" alt="">
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/toastr/toastr.min.js" asp-append-version="true"></script>
    <script src="~/js/adminPage.js" asp-append-version="true"></script>
    <script>
        $(".open-loader").on('click',()=>{
            $("#admin-loader").removeClass("d-none");
        });
        setInterval(LiveTime, 1000);
        $(document).ready(()=>{
            $("#admin-loader").addClass("d-none");
        @if (ViewBag.error != null)
        {
            @:toastr.error("@ViewBag.error", "Error Message",{ timeOut: 5000, "positionClass": "toast-bottom-right","closeButton": true,"progressBar": true});
        }
        @if (ViewBag.success != null)
        {
            @:toastr.success("@ViewBag.success", "Success Message",{ timeOut: 5000, "positionClass": "toast-bottom-right","closeButton": true,"progressBar": true});
        }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
