<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CI_PlatformWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-lg container-fluid">
                <div class="d-flex align-items-center">
                    <button class="navbar-toggler border-0 bg-white p-2" type="button" data-bs-toggle="collapse"
                            data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span><img src="~/images/list.png" alt=""></span>
                    </button>
                    <a class="navbar-nav" asp-area="Volunteer" asp-controller="Mission" asp-action="Index">
                        <img src="~/images/logo.png"
                             class="mx-3" />
                    </a>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <div class="close-sidemenu d-block d-sm-none">
                            <a role="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                               aria-controls="navbarSupportedContent" aria-expanded="false"
                               aria-label="Toggle navigation">
                                <img src="~/images/cancel1.png" alt="">
                            </a>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Volunteer" asp-controller="Mission" asp-action="Index">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Volunteer" asp-controller="Story" asp-action="Story">Story</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Volunteer" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @*<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Privacy
                                    <img src="~/images/drop-down.png" />
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                                           asp-action="Privacy">Action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                                           asp-action="Privacy">Logout</a>
                                    </li>
                                </ul>
                            </li>*@
                    </ul>
                </div>
                @{
                    var identity = User.Identity as ClaimsIdentity;
                    var name = identity?.FindFirst(ClaimTypes.Name)?.Value;
                    var surname = identity?.FindFirst(ClaimTypes.Surname)?.Value;
                    var avtar = identity?.FindFirst(ClaimTypes.Thumbprint)?.Value;
                    var email = identity?.FindFirst(ClaimTypes.Email)?.Value;
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="dropdown drop-avatar avatar-hover px-1 px-sm-3 py-1 d-flex align-items-center">
                        <div class="dropdown-toggle d-inline-flex align-items-center" role="button"
                             data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="avtar-nav">
                                @if (avtar != null)
                                {
                                    <img src="~/images/@avtar" alt="user image" />
                                }
                                else
                                {
                                    <img src="~/images/profile.png" />
                                }
                            </div>
                            <span class="px-2 text-secondary d-none d-sm-block">@name @surname</span>
                            <img class="d-none d-sm-block" src="~/images/drop-down.png" />
                        </div>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" asp-area="Volunteer" asp-controller="User"
                                   asp-action="UserProfile">Update Profile</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" asp-area="Volunteer" asp-controller="TimeSheet"
                                   asp-action="Index">Volunteering Timesheet</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" asp-area="Volunteer" asp-controller="Login" asp-action="Logout">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <a asp-action="Index" asp-area="Volunteer" asp-controller="Login" class="d-flex align-items-center avatar-hover px-1 px-sm-3 py-1">
                        <div class="avtar-nav">
                            <img src="~/images/profile.png" />
                        </div>
                        <span class="px-2 text-secondary d-none d-sm-block">Login</span>
                    </a>
                }
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid container-lg p-3">
            <a class="text-muted me-2" asp-action="Privacy" asp-controller="Home" asp-area="Volunteer">Privacy Policy</a>
            <a class="border-start ps-2 text-muted" data-bs-toggle="modal" data-bs-target="#contactUsModal">Contact Us</a>
        </div>
    </footer>

    <!-- Contact Us Modal -->
    <div class="modal fade" id="contactUsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="contactUsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h1 class="modal-title fs-5" id="contactUsModalLabel">Contact Us</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-0">
                    <div class="mb-3">
                        <label for="uname" class="form-label">Name*</label>
                        <input type="text" id="uname" class="form-control bg-ci-secondary" value="@name @surname" readonly />
                    </div>
                    <div class="mb-3">
                        <label for="uemail" class="form-label">Email Address*</label>
                        <input type="text" id="uemail" class="form-control bg-ci-secondary" value="@email" readonly />
                    </div>
                    <div class="mb-3">
                        <label for="usub" class="form-label">Subject*</label>
                        <input type="text" id="usub" class="form-control" placeholder="Enter Your Subject" />
                    </div>
                    <div class="mb-3">
                        <label for="umsg" class="form-label">Message*</label>
                        <textarea rows="3" id="umsg" class="form-control h-auto" placeholder="Enter Your Message"></textarea>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="reset" class="btn-ci-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn-ci-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/grid_list_toggle.js" asp-append-version="true"></script>
    <script src="~/js/media.js" asp-append-version="true"></script>
    <script src="~/js/ls_filterdata.js" asp-append-version="true"></script>
    <script src="~/lib/toastr/toastr.min.js" asp-append-version="true"></script>
    <script>
        $(document).ready(()=>{
        @if (ViewBag.error != null)
        {
            @:toastr.error("@ViewBag.error", "Error Message",{ timeOut: 5000, "positionClass": "toast-bottom-right","closeButton": true,"progressBar": true});
        }
        @if (ViewBag.success != null)
        {
            @:toastr.success("@ViewBag.success", "Success Message",{ timeOut: 5000, "positionClass": "toast-bottom-right","closeButton": true,"progressBar": true});
        }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
