<link href="~/css/UserProfile.css" rel="stylesheet" />
<script src="~/js/multipleSelect.js" asp-append-version="true"></script>
<script src="~/js/match_pass.js"></script>
<script src="~/js/password_hide_show.js"></script>
<link href="~/lib/cropper/cropper.min.css" rel="stylesheet" />
<script src="~/lib/cropper/cropper.min.js" asp-append-version="true"></script>

@model User

<div class="container-lg container-fluid mt-3 mt-md-5">
    <form method="post">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="border border-1 rounded-2 profile-img-box">
                    <div class="mt-md-3 mt-1">
                        <div class="profile-img position-relative">
                            <label for="profileUploder" class="profile-uploder-img-label">
                                @if (Model.Avatar != null)
                                {
                                    <img id="userProfile" src="~/images/@Model.Avatar" alt="" />
                                }
                                else
                                {
                                    <img id="userProfile" src="~/images/profile.png" />
                                }
                            </label>
                            <input type="file" id="profileUploder" name="image" hidden>
                            <div id="profileTreiger" class="edit-profile-icon">
                                <i class="bi bi-camera-fill text-ci-danger"></i>
                            </div>
                        </div>
                    </div>
                    <div class="change-pass-link">
                        <div class="fs-5">@Model.FirstName @Model.LastName</div>
                        <div class="my-3">
                            <a role="button" class="text-muted text-decoration-none fs-7" data-bs-toggle="modal"
                               data-bs-target="#changePassword">
                                Change Password
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="row">
                    <div class="col-12 mt-3 mt-md-0">
                        <div class="d-flex">
                            <h4 class="m-0 border-dark border-bottom pb-2 pe-3">
                                Basic Information
                            </h4>
                        </div>
                        <hr class="p-0 m-0 mb-3" />
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <label class="text-muted mb-1">Name*</label>
                        <input type="text" class="form-control text-muted" asp-for="FirstName" required placeholder="Enter your name" />
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <label class="text-muted mb-1">Surname*</label>
                        <input type="text" class="form-control text-muted" asp-for="LastName" required placeholder="Enter your surname" />
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <label class="text-muted mb-1">Employee ID</label>
                        <input type="text" class="form-control text-muted" asp-for="EmployeeId" placeholder="Enter your employee id" />
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <label class="text-muted mb-1">Manager</label>
                        <input type="text" class="form-control text-muted" asp-for="ManagerDetails" placeholder="Enter your manager details" />
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <label class="text-muted mb-1">Title</label>
                        <input type="text" class="form-control text-muted" asp-for="Title" placeholder="Enter title" />
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <label class="text-muted mb-1">Department</label>
                        <input type="text" class="form-control text-muted" asp-for="Department" placeholder="Enter your department" />
                    </div>
                    <div class="col-12 mb-3">
                        <label class="text-muted mb-1">My Profile*</label>
                        <textarea id="" rows="5" class="form-control h-auto text-muted" asp-for="ProfileText" required placeholder="Enter your profile text"></textarea>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="text-muted mb-1">Why I Volunteer?</label>
                        <textarea id="" rows="5" class="form-control h-auto text-muted" asp-for="WhyIVolunteer" placeholder="Enter your reasone for become a volunteer"></textarea>
                    </div>
                </div>
                <div class="row mt-3 mt-lg-5">
                    <div class="col-12">
                        <div class="d-flex">
                            <h4 class="m-0 border-dark border-bottom pb-2 pe-3">
                                Address Information
                            </h4>
                        </div>
                        <hr class="p-0 m-0 mb-3" />
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <label class="text-muted mb-1">Country*</label>
                        <select class="form-select text-muted user-country" asp-for="CountryId">
                            @foreach (var i in ViewBag.country)
                            {
                                <option value="@i.CountryId">@i.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <label class="text-muted mb-1">City*</label>
                        <select class="form-select text-muted user-city" asp-for="CityId">
                        </select>
                    </div>
                </div>
                <div class="row mt-3 mt-lg-5">
                    <div class="col-12">
                        <div class="d-flex">
                            <h4 class="m-0 border-dark border-bottom pb-2 pe-3">
                                Professional Information
                            </h4>
                        </div>
                        <hr class="p-0 m-0 mb-3" />
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <label class="text-muted mb-1">Availability</label>
                        <select class="form-select text-muted" asp-for="Availability">
                            <option value="daily">Select Your Availabilalty</option>
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="week-end">Week End</option>
                            <option value="monthly">Monthly</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <label class="text-muted mb-1">LinkedIn</label>
                        <input type="text" class="form-control text-muted" asp-for="LinkedInUrl" placeholder="Enter linkedIn URL" />
                    </div>
                </div>
                <div class="row mt-3 mt-lg-5">
                    <div class="col-12">
                        <div class="d-flex">
                            <h4 class="m-0 border-dark border-bottom pb-2 pe-3">
                                My Skills
                            </h4>
                        </div>
                        <hr class="p-0 m-0 mb-3" />
                    </div>
                    <div class="col-12 mb-3">
                        <div class="border rounded-2 py-2 px-3">
                            <select id="userSkill1" class="form-select border-0 bg-transparent h-auto" multiple disabled>
                                @foreach (var i in Model.UserSkills)
                                {
                                    <option value="@i.Skill.SkillId" class="bg-transparent" selected>@i.Skill.SkillName</option>
                                }
                            </select>
                            <select id="userSkill" name="userSkills[]" class="form-select border-0 bg-transparent h-auto" multiple hidden>
                                @foreach (var i in Model.UserSkills)
                                {
                                    <option value="@i.Skill.SkillId" selected>@i.Skill.SkillName</option>
                                }
                            </select>
                        </div>
                        <div class="mt-3">
                            <button type="button" class="btn-ci-secondary" data-bs-toggle="modal" data-bs-target="#addSkill">Add Skills</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-end">
                        <button type="submit" class="btn-ci-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Change Password Modal -->
<div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="changePassForm">
                <div class="modal-header border-0">
                    <h1 class="modal-title fs-5" id="changePasswordLabel">
                        Change Password
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="@Model.UserId" name="userId" />
                    <div>
                        <input type="password" name="oldPass" class="form-control fs-7" placeholder="Enter Old Password" required />
                    </div>
                    <div class="mt-3 position-relative">
                        <input type="password" name="newPass" class="form-control" id="new-pass"
                               placeholder="Enter New Password" required>
                        <span onclick="showPass('new-pass')">
                            <img src="~/images/eye_open.png" alt="eye" class="eye" id="eye-open">
                            <hr class="eye_close visually-hidden" id="eye_close-new-pass" />
                        </span>
                    </div>
                    <div id="pass-limit-error" class="mt-2"></div>
                    <div class="position-relative mt-3">
                        <input type="password" name="cnfPass" class="form-control" id="cnf-pass"
                               placeholder="Enter Confirm Password" required>
                        <span onclick="showPass('cnf-pass')">
                            <img src="~/images/eye_open.png" alt="eye" class="eye" id="eye-open">
                            <hr class="eye_close visually-hidden" id="eye_close-cnf-pass" />
                        </span>
                    </div>
                    <div id="pass-error" class="mt-2"></div>
                </div>
                <div class="modal-footer border-0">
                    <button type="reset" class="btn-ci-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" id="regi" class="btn-ci-primary">
                        Change Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



<!--Select Skill Modal-->

<div class="modal fade" id="addSkill" tabindex="-1" aria-labelledby="addSkillLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h1 class="modal-title fs-5" id="addSkillLabel">Add Your Skills</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-0">
                    <div class="col-12 col-md">
                        <select name="from[]" id="multiselect" class="border border-1 rounded-2 p-2 form-select h-100" size="15"
                                multiple>
                            @foreach (var i in ViewBag.skills)
                            {
                                <option value="@i.SkillId">@i.SkillName</option>
                            }
                        </select>
                    </div>
                    <div class="col-12 col-md-1 text-center d-flex flex-column justify-content-center">
                        <button id="multiselect_rightSelected" class="btn border-0 shadow-none">
                            <img src="~/images/right-arrow1.png" alt="" />
                        </button>
                        <br />
                        <button id="multiselect_leftSelected" class="btn border-0 shadow-none">
                            <img src="~/images/left.png" alt="" />
                        </button>
                    </div>
                    <div class="col-12 col-md">
                        <select name="to[]" id="multiselect_to" class="border border-1 rounded-2 p-2 form-select h-100" size="15"
                                multiple>
                            @foreach (var i in Model.UserSkills)
                            {
                                <option value="@i.Skill.SkillId">@i.Skill.SkillName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0 justify-content-start">
                <button type="button" class="btn-ci-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" onclick="AddSkillToSelect()" class="btn-ci-primary">Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="profileUploderModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="addSkillLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h1 class="modal-title fs-5" id="addSkillLabel">Add Your Skills</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row">
                        <div class="col-md-8">
                            <!--  default image where we will set the src via jquery-->
                            <img id="profileUploderModalImage" class="profile-uploder-img">
                        </div>
                        <div class="col-md-4">
                            <div class="preview"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-ci-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-ci-primary" id="crop">Upload</button>
            </div>
        </div>
    </div>
</div>



<div id="loader" class="d-none">
    <img src="~/images/loader.gif" />
</div>


<script>
    function AddSkillToSelect() {
        $("#userSkill1").html($("#multiselect_to").html());
        $("#userSkill").html($("#multiselect_to").html());
        $("#userSkill option").prop('selected', true);
        $("#addSkill").modal('hide');
        $("#userSkill1").attr("size", $("#userSkill1 option").length);
    }
    $(function () {
        $("#userSkill1").attr("size", $("#userSkill1 option").length);
    });

    $("#changePassForm").on("submit", function (e) {
        var dataString = $(this).serialize();
        $.ajax({
            type: "POST",
            url: "/Volunteer/User/ChangePassword",
            data: dataString,
            beforeSend: function () {
                $("#loader").removeClass('d-none');
            },
            success: function (res) {
                if (res) {
                    toastr.success("Your password has been changed successfully", "Success Message", { timeOut: 5000, "positionClass": "toast-bottom-right", "closeButton": true, "progressBar": true });
                    $("#changePassForm")[0].reset();
                }
                else {
                    toastr.error("Your old password does not math with database", "Error Message", { timeOut: 5000, "positionClass": "toast-bottom-right", "closeButton": true, "progressBar": true });
                }
            },
            error: function () {
                toastr.error("Something Went Wrong! Please try agin later", "Error Message", { timeOut: 5000, "positionClass": "toast-bottom-right", "closeButton": true, "progressBar": true });
            },
            complete: function () {
                $("#loader").addClass('d-none');
                $("#changePassword").modal('hide');
            }
        });
        e.preventDefault();
    });


    var bs_modal = $('#profileUploderModal');
    var image = document.getElementById('profileUploderModalImage');
    var cropper, reader, file;


    $("body").on("change", "#profileUploder", function (e) {
        var files = e.target.files;
        var done = function (url) {
            image.src = url;
            bs_modal.modal('show');
        };


        if (files && files.length > 0) {
            file = files[0];

            if (URL) {
                done(URL.createObjectURL(file));
            } else if (FileReader) {
                reader = new FileReader();
                reader.onload = function (e) {
                    done(reader.result);
                };
                reader.readAsDataURL(file);
            }
        }
    });

    bs_modal.on('shown.bs.modal', function () {
        cropper = new Cropper(image, {
            aspectRatio: 1,
            viewMode: 3,
            preview: '.preview'
        });
    }).on('hidden.bs.modal', function () {
        cropper.destroy();
        cropper = null;
    });

    $("#crop").click(function () {
        canvas = cropper.getCroppedCanvas({
            width: 500,
            height: 500,
        });

        canvas.toBlob(function (blob) {
            url = URL.createObjectURL(blob);
            var reader = new FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function () {
                var base64data = reader.result;
                //alert(base64data);
                $.ajax({
                    type: "POST",
                    url: "/Volunteer/User/UploadImage",
                    data: { image: base64data },
                    success: function (data) {
                        $("#userProfile").attr("src", "/images/userimages/" + data.src + ".png");
                        bs_modal.modal('hide');
                        toastr.success("Your Profile image has been changed successfully! It's reflected after page refresh!..", "Success Message", { timeOut: 5000, "positionClass": "toast-bottom-right", "closeButton": true, "progressBar": true });
                    }
                });
            };
        });
    });

    $('#profileTreiger').on('click', function () {
        $('#profileUploder').trigger('click');
    });


    $(".user-country").on('change', function () {
        $.ajax({
            type: "GET",
            url: "/Volunteer/Home/GetCityByCountry",
            data: { country: $(this).val() },
            success: function (data) {
                $(".user-city").empty();
                $.each(data, function (index, item) {
                    if (item.cityId == @Model.CityId) {
                        $(".user-city").append($(`<option></option>`).val(item.cityId).html(item.name).attr("selected","selected"));
                    }
                    else {
                        $(".user-city").append($(`<option></option>`).val(item.cityId).html(item.name));
                    }
                })
            }
        });
    });

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Volunteer/Home/GetCityByCountry",
            data: { country: $('.user-country').val() },
            success: function (data) {
                $(".user-city").empty();
                $.each(data, function (index, item) {
                    if (item.cityId == @Model.CityId) {
                        $(".user-city").append($(`<option></option>`).val(item.cityId).html(item.name).attr("selected","selected"));
                    }
                    else {
                        $(".user-city").append($(`<option></option>`).val(item.cityId).html(item.name));
                    }
                })
            }
        });
    });
</script>