@model List<Timesheet>


<div class="container-lg container-fluid">
    <p class="text-mute fw-lighter fs-1 mt-5">
        Volunteering Timesheet
    </p>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="border border-1 rounded-2 h-100 w-100 p-3">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="fs-7 text-mute">Volunteering Hours</span>
                    <button class="btn-ci-primary" onclick="addVolHour()"><span class="fw-bold fs-6 p-0 m-0">+</span> Add</button>
                </div>
                <div class="max-h-timesheet">
                    <table class="table table-borderless mt-2 fs-7">
                        <thead>
                            <tr>
                                <th>Mission</th>
                                <th>Date</th>
                                <th>Hours</th>
                                <th>Minutes</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model)
                            {
                                @if (i.Mission.MissionType.Equals("TIME"))
                                {
                                    <tr>
                                        <td>@i.Mission.Title</td>
                                        <td>@i.DateVolunteered.ToString("dd/MM/yyyy")</td>
                                        <td>@i.Time.Value.Hours</td>
                                        <td>@i.Time.Value.Minutes</td>
                                        <td class="text-nowrap">
                                            <a onclick="editVolHour(@i.TimesheetId)">
                                                <i class="bi bi-pencil-square me-2 text-ci-primary"></i>
                                            </a>
                                            <a onclick="deleteVol(@i.TimesheetId)">
                                                <i class="bi bi-trash text-ci-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-3 mt-lg-0">
            <div class="border border-1 rounded-2 h-100 w-100 p-3">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="fs-7 text-mute">Volunteering Goals</span>
                    <button class="btn-ci-primary" onclick="addVolGoal()"><span class="fw-bold fs-6 p-0 m-0">+</span> Add</button>
                </div>
                <div class="max-h-timesheet">
                    <table class="table table-borderless mt-2 fs-7">
                        <thead>
                            <tr>
                                <th>Mission</th>
                                <th>Date</th>
                                <th>Action</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model)
                            {
                                @if (i.Mission.MissionType.Equals("GOAL"))
                                {
                                    <tr>
                                        <td>@i.Mission.Title</td>
                                        <td>@i.DateVolunteered.ToString("dd/MM/yyyy")</td>
                                        <td>@i.Action</td>
                                        <td class="text-nowrap">
                                            <a onclick="editVolGoal(@i.TimesheetId)">
                                                <i class="bi bi-pencil-square me-3 text-ci-primary"></i>
                                            </a>
                                            <a onclick="deleteVol(@i.TimesheetId)">
                                                <i class="bi bi-trash text-ci-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="DeleteVolunteeringTimeSheet" asp-controller="TimeSheet" asp-area="Volunteer">
            <div class="modal-content">
                <div class="modal-body">
                    <input type="number" value="" id="tIdDelete" name="timeSheetId" hidden />
                    <span class="fs-4 text-ci-danger">
                        <i class="bi bi-info-circle text-ci-danger"></i>
                        Are You Sure!??
                    </span>
                </div>
                <div class="modal-footer p-0 pe-3 py-2">
                    <button type="submit" class="btn-ci-danger fs-7">
                        Delete
                    </button>
                    <button type="reset" class="btn-ci-secondary fs-7" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Add Volunteering Hours Modal -->
<div class="modal fade" id="VolHour" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="VolHourLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <form method="post" class="w-100" asp-area="Volunteer" asp-controller="TimeSheet" asp-action="Volunteering">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="VolHourLabel">Please input below Volunteering Hours</h1>
                    <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-12 mb-3">
                            <input type="text" id="tId" name="tid" value="" hidden />
                            <label for="missionId" class="form-label fs-7">Mission</label>
                            <select class="form-select text-muted" name="mission" id="mission" required>
                                @foreach (var m in ViewBag.Missions)
                                {
                                    @if (m.MissionType.Equals("TIME"))
                                    {
                                        <option value="@m.MissionId">@m.Title</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="dateVol" class="form-label fs-7">Date Volunteered</label>
                            <input type="date" name="dateVol" class="form-control fs-7" id="dateVol" required>
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <label for="volHour" class="form-label fs-7">Hours</label>
                            <input type="number" name="volHour" class="form-control fs-7" min="0" id="volHour" placeholder="Enter Spent Hours" required>
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <label for="volMin" class="form-label fs-7">Minutes</label>
                            <input type="number" name="volMin" class="form-control fs-7" min="0" max="59" id="volMin" placeholder="Enter Spent Minutes" required>
                        </div>
                        <div class="col-12">
                            <label for="volMessage" class="form-label fs-7">Date Volunteered</label>
                            <textarea id="volMessage" name="volMessage" cols="100" rows="5"
                                      class="form-control h-auto mb-3 fs-7" placeholder="Enter Your Message"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn-ci-secondary" data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn-ci-primary" name="btn" id="saveBtn" value="Save" />
                    <input type="submit" class="btn-ci-primary" name="btn" id="updateBtn" value="Update" />
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Add Volunteering Hours Modal -->
<div class="modal fade" id="VolGoal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="VolGoalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <form method="post" class="w-100" asp-area="Volunteer" asp-controller="TimeSheet" asp-action="Volunteering">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="VolGoalLabel">Please input below Volunteering Goal</h1>
                    <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-12 mb-3">
                            <input type="text" id="tIdg" name="tid" value="" hidden />
                            <label for="missionId" class="form-label fs-7">Mission</label>
                            <select class="form-select text-muted" name="mission" id="missiong" required>
                                @foreach (var m in ViewBag.Missions)
                                {
                                    @if (m.MissionType.Equals("GOAL"))
                                    {
                                        <option value="@m.MissionId">@m.Title</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="volAction" class="form-label fs-7">Actions</label>
                            <input type="number" min="1" name="volAction" class="form-control fs-7" min="1" id="volAction" placeholder="Enter Actions" required>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="dateVolg" class="form-label fs-7">Date Volunteered</label>
                            <input type="date" name="dateVol" class="form-control fs-7" id="dateVolg" required>
                        </div>
                        <div class="col-12">
                            <label for="volMessageg" class="form-label fs-7">Date Volunteered</label>
                            <textarea id="volMessage" name="volMessage" cols="100" rows="5"
                                      class="form-control h-auto mb-3 fs-7" placeholder="Enter Your Message"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn-ci-secondary" data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn-ci-primary" name="btn" id="saveBtng" value="Save" />
                    <input type="submit" class="btn-ci-primary" name="btn" id="updateBtng" value="Update" />
                </div>
            </div>
        </form>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    function addVolHour() {
        $('#VolHour').modal('show');
        $('#saveBtn').show();
        $('#updateBtn').hide();
    }
    function editVolHour(id) {
        $.ajax({
            type: 'POST',
            url: "/Volunteer/TimeSheet/GetTimeSheetData",
            data: { 'timeSheetId': id },
            success: function (res) {
                $('#VolHour').modal('show');
                $('#saveBtn').hide();
                $('#updateBtn').show();
                $('#tId').val(id);
                $('#mission').val(res.missionId);
                var date = new Date(res.dateVolunteered).toLocaleDateString();
                date = date.split("/");
                date = date[2] + "-" + (date[1].length == 1 ? "0" + date[1] : date[1]) + "-" + (date[0].length == 1 ? "0" + date[0] : date[0]);
                $('#dateVol').val(date);
                var t = res.time.split(":");
                $('#volHour').val(t[0]);
                $('#volMin').val(t[1]);
                $('#volMessage').val(res.notes);
            },
            error: function (data) {
                alert("some Error");
            }
        });
    }
    function addVolGoal() {
        $('#VolGoal').modal('show');
        $('#saveBtng').show();
        $('#updateBtng').hide();
    }
    function editVolGoal(id) {
        $.ajax({
            type: 'POST',
            url: "/Volunteer/TimeSheet/GetTimeSheetData",
            data: { 'timeSheetId': id },
            success: function (res) {
                $('#VolGoal').modal('show');
                $('#saveBtng').hide();
                $('#updateBtng').show();
                $('#tIdg').val(id);
                $('#missiong').val(res.missionId);
                var date = new Date(res.dateVolunteered).toLocaleDateString();
                date = date.split("/");
                date = date[2] + "-" + (date[1].length == 1 ? "0" + date[1] : date[1]) + "-" + (date[0].length == 1 ? "0" + date[0] : date[0]);
                $('#dateVolg').val(date);
                $('#volAction').val(res.action);
                $('#volMessageg').val(res.notes);
            },
            error: function (data) {
                alert("some Error");
            }
        });
    }
    function deleteVol(id) {
        $('#confirmModal').modal('show');
        $('#tIdDelete').val(id);
    }
</script>