@model List<Timesheet>

<div class="container-lg container-fluid">
    <p class="text-mute fw-lighter fs-1 mt-5">
        Volunteering Timesheet
    </p>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="border border-1 rounded-2 h-100 w-100 p-3">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="fs-7 text-mute">Volunteering Hours</span>
                    <button class="btn-ci-primary"><span class="fw-bold fs-6 p-0 m-0">+</span> Add</button>
                </div>
                <table class="table table-borderless mt-2">
                    <thead>
                        <tr>
                            <th>Mission</th>
                            <th>Date</th>
                            <th>Hours</th>
                            <th>Minutes</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            @if (i.Mission.MissionType.Equals("TIME"))
                            {
                                <tr>
                                    <td>@i.Mission.Title</td>
                                    <td>@i.DateVolunteered.ToString("dd/MM/yyyy")</td>
                                    <td>@i.Time.Value.Hours</td>
                                    <td>@i.Time.Value.Minutes</td>
                                    <td class="text-nowrap"><i class="bi bi-pencil-square me-3 text-ci-primary"></i><i class="bi bi-trash text-ci-danger"></i></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="border border-1 rounded-2 h-100 w-100 p-3">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="fs-7 text-mute">Volunteering Goals</span>
                    <button class="btn-ci-primary"><span class="fw-bold fs-6 p-0 m-0">+</span> Add</button>
                </div>
                <table class="table table-borderless mt-2">
                    <thead>
                        <tr>
                            <th>Mission</th>
                            <th>Date</th>
                            <th>Action</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            @if (i.Mission.MissionType.Equals("GOAL"))
                            {
                                <tr>
                                    <td>@i.Mission.Title</td>
                                    <td>@i.DateVolunteered.ToString("dd/MM/yyyy")</td>
                                    <td>@i.Action</td>
                                    <td class="text-nowrap"><i class="bi bi-pencil-square me-3 text-ci-primary"></i><i class="bi bi-trash text-ci-danger"></i></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>