@using CI_Platform.Models.ViewModels
@using System.Security.Claims
@model List<Admin>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}


<div class="my-3">
    <div class="fs-3 d-flex">
        <div class="border-bottom border-dark pe-3">
            Admin
        </div>
    </div>
    <hr class="m-0 p-0">
</div>
<div class="py-3 d-sm-flex justify-content-between align-items-center">
    <div class="my-2 position-relative d-flex align-items-center search-div-admin">
        <label for="search">
            <img src="~/images/search.png" alt="search" class="search-admin">
        </label>
        <input type="text" name="search" id="search" class="form-control search-admin-input"
               placeholder="Search ..." value="@ViewBag.query" onkeyup="AdminsSearch(this.value)">
    </div>
    <div class="ms-sm-3 text-end mt-3 mt-sm-0">
        <a role="button" class="open-loader btn-ci-primary" asp-action="AddNewAdmin" asp-controller="Admin" asp-area="Admin">+ Add </a>
    </div>
</div>
<div class="w-100" id="table-body">
    @if (Model.Count() > 0)
    {
        var identity = User.Identity as ClaimsIdentity;
        var email = identity?.FindFirst(ClaimTypes.Email)?.Value;
        <div class="table-responsive">
            <table class="table admin-table">
                <thead class="table-light">
                    <tr class="px-3">
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>@i.FisrtName</td>
                            <td>@i.LastName</td>
                            <td>@i.Email</td>
                            <td class="@(i.DeletedAt == null ? "text-ci-success": "text-ci-danger")">@(i.DeletedAt == null ? "Active":"Inactive")</td>
                            <td class="text-nowrap">
                                @if (i.Email != "mayapatel8105@gmail.com")
                                {
                                    @if (i.Email != email)
                                    {
                                        <a asp-action="ChangeAdminStatus" asp-controller="Admin" asp-area="Admin" asp-route-id="@i.AdminId">
                                            <i class="bi @(i.DeletedAt == null ? "bi-x-circle text-ci-danger": "bi-check-circle text-ci-success") me-2"></i>
                                        </a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="fs-1 text-center text-ci-danger">
            No Data Found!
        </div>
    }
</div>
@{
    VMPager pager = new VMPager();
    int pageNo = 0;
    if (ViewBag.pager != null)
    {
        pager = ViewBag.pager;
        pageNo = pager.CurrentPage;
    }
}


@if (pager.TotalPages > 0 && Model.Count() > 0)
{
    <nav aria-label="Page" class="my-4" id="pagination-body">
        <ul class="pagination-sm pagination justify-content-end">
            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="open-loader page-link" aria-label="Previous" asp-action="Index" asp-controller="Admin" asp-area="Admin" asp-route-id="@ViewBag.query" asp-route-pg="1">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="open-loader page-link" aria-label="Previous" asp-action="Index" asp-controller="Admin" asp-area="Admin" asp-route-id="@ViewBag.query" asp-route-pg="@(pager.CurrentPage-1)">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link disabled">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link disabled">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
            }
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item"><a class="open-loader page-link @(pge==pager.CurrentPage ? "active":"")" asp-action="Index" asp-controller="Admin" asp-area="Admin" asp-route-id="@ViewBag.query" asp-route-pg="@pge">@pge</a></li>
            }
            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="open-loader page-link" aria-label="Next" asp-action="Index" asp-controller="Admin" asp-area="Admin" asp-route-id="@ViewBag.query" asp-route-pg="@(pager.CurrentPage+1)">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="open-loader page-link" aria-label="Next" asp-action="Index" asp-controller="Admin" asp-area="Admin" asp-route-id="@ViewBag.query" asp-route-pg="@(pager.TotalPages)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link disabled">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link disabled">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
}
else
{
    <nav id="pagination-body"></nav>
}


<script>
    function AdminsSearch(query){
        console.log(query);
        $.ajax({
            type: 'POST',
            url: "/Admin/Admin/Index",
            data: { 'id': query },
            beforeSend: function (){
                $("#admin-loader").removeClass("d-none");
            },
            success: function (res) {
                $('#table-body').html($($.parseHTML(res)).find("#table-body")[0].innerHTML);
                $('#pagination-body').html($($.parseHTML(res)).find("#pagination-body")[0].innerHTML);
            },
            error: function (data) {
                toastr.error("Some error in search", "Error Message", { timeOut: 5000, "positionClass": "toast-top-right", "closeButton": true, "progressBar": true });
            },
            complete: function(){
                $("#admin-loader").addClass("d-none");
            }
        });
    }
</script>